@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body.headtop{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 6rem;
}

.login {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
    padding: 2.5rem 1rem;
    border-radius: 25px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: white;
    width: 30rem;
}

.input-field input {
    padding: 10px 30px;
    border-radius: 30px;
    margin-block: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.input-field input::placeholder {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.remember input {
    margin-inline: 1.2rem;
}

.login-button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1.2rem;
    border-radius: 15px;
    color: white;
    background-color: black;
    transition: all 0.5s;
    font-family: "Montserrat", sans-serif;
}

.login-button:hover {
    background-color: dimgray;
    box-shadow: 0px 1px 2px black;
}


#logoimage{
    float: left;
    mix-blend-mode: multiply;
}
.header{
    font-family: "Montserrat",sans-serif;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    backdrop-filter: blur(10px);
    background-color: transparent;
}
.header-right a#faq:active {
    background-color: rgb(246, 86, 58);
}

.header-right a#contact:active {
    background-color: rgb(246, 86, 58);
}
.header-right a#about:active {
    background-color: rgb(246, 86, 58);
}
.header a.logo:active {
    background-color: rgb(246, 86, 58);
}


.header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    margin:auto;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 8px;
    align-items: center;
    transition-duration: 0.3s;
    border-color: black;
    border-width: 2px;
    margin-right: 2px
}
.header a.loio:hover{
    color: rgb(0, 183, 255);
    background-color: rgba(249, 0, 0, 0);
}
.header a#faq{
    float: right;
}

.header a#contact{
    float: right;
}
.header a:hover {
    background-color: rgb(0, 183, 255);
    color: rgb(0, 0, 0);
}

.header a.loginbtn {
    color: rgb(0, 183, 255);
    border-radius: 20px;
    margin-right: 10px;
    
}

.header a#signupbtn {
    background-color: rgb(0, 183, 255);
    color: rgb(0, 0, 0);
    border-radius: 8px;
    
}
.header-right{
    float: right;
}
.header a.loginbtn1{
    margin-right: 10px;
}

.header a.loginbtn:hover{
    background-color: rgb(255, 77, 77);
    color: black;
}
.header a.loginbtn:active{
    background-color: rgb(229, 91, 91);
}
@media screen and (max-width: 500px){
    .header a{
        float: none;
        display: block;
        text-align: left;
    }
    .header-right{
        float: none;
    }
}